<kendo-grid [kendoGridBinding]="gridData" kendoGridSelectBy="id" [selectedKeys]="mySelection" [pageSize]="20"
  [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true" style.height="80vh"
  [columnMenu]="{ filter: true }" (dataStateChange)="refreshGrid()">

  <ng-template kendoGridToolbarTemplate>
    <button kendoGridExcelCommand icon="file-excel" style="float:right;">Export to Excel</button>
    <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button>
    <button kendoButton icon="file-csv" style="float:right;" (click)="this.ExportData()">Export to CSV</button>
    <button kendoButton icon="file-csv" style="float:left;" (click)="this.ImportSamplesAndResults()">Import samples & results</button>
    <button kendoButton icon="file-csv" style="float:left;" (click)="this.ImportSamples()">Import samples</button>
    <button kendoButton style="float:right;" (click)="this.DeleteSelected()">Remove Selected</button>
  </ng-template>

  <input #fileInput type="file" style="display:none" (change)="this.fileChangeListener($event.srcElement.files)">

  <kendo-grid-checkbox-column [width]="45" [headerClass]="{'text-center': true}" [class]="{'text-center': true}"
    [columnMenu]="false" showSelectAll="true"></kendo-grid-checkbox-column>

  <kendo-grid-column-group title="Sample" [columnMenu]="false">

    <kendo-grid-column field="age" title="Patient's age" [width]="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.age }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="sex" title="Gender" [width]="90" [class]="{'text-center': true}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.sex }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="creatinine" title="Creatinine level" [width]="130" [class]="{'text-center': true}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.creatinine }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="LYVE1" title="LYVE1 amount" [width]="130" [class]="{'text-center': true}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.LYVE1 }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="REG1B" title="REG1B amount" [width]="130" [class]="{'text-center': true}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.REG1B }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="TFF1" title="TFF1 amount" [width]="130" [class]="{'text-center': true}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.TFF1 }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="REG1A" title="REG1A amount" [width]="130" [class]="{'text-center': true}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.REG1A }}</div>
      </ng-template>
    </kendo-grid-column>

  </kendo-grid-column-group>

  <kendo-grid-column-group title="Analysis result" [columnMenu]="false">

    <kendo-grid-column field="diagnosis" title="Diagnosis" [width]="130" filter="numeric">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.diagnosis }}</div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="precision" title="Precision" [width]="130" filter="numeric">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>{{ dataItem.precision*100 }}%</div>
      </ng-template>
    </kendo-grid-column>

  </kendo-grid-column-group>

  <kendo-grid-pdf fileName="Samples.pdf"></kendo-grid-pdf>
  <kendo-grid-excel fileName="Samples.xlsx"></kendo-grid-excel>
</kendo-grid>
