
kendo-appbar{
  display: flex;
  margin: auto;
  justify-content: center;
  height: 10vh;
}

kendo-appbar-section{
  width: 24%;
  justify-content: center;
}

kendo-appbar-section a button , kendo-appbar a{
  width: 100%;
  font-size: large;
  height: fit-content;
}

kendo-appbar-section.language{
  width: 75px;
  margin-left:2px;
  justify-content: center;
}

kendo-dropdownbutton{
  width: 100%;
  height: 100%;
}
