form{
  margin-left: 25px;
}

button{
  margin-left: 25px;
  margin-top: 25px;
}

kendo-floatinglabel, kendo-numerictextbox, kendo-dropdownlist, .k-floating-label-container{
  font-size: larger;
}

#mainContainer{
  display:flex;
  flex-direction: row;
}

#formContainer{
  flex:left;
  padding-right: 30px;
}

#resultContainer{
  flex:right;
  margin: auto;
}

#resultContainer,app-result, #mainContainer{
  width:100%;
  height:100%;
  display:flex;
}

button{
  width: 100%;
  font-size: larger;
}
