<form [formGroup]="sampleForm">
  <kendo-formfield>
      <kendo-floatinglabel text="Age">
        <kendo-numerictextbox formControlName="age"></kendo-numerictextbox>
      </kendo-floatinglabel>
      <kendo-formerror>Error: Age is required.</kendo-formerror>
  </kendo-formfield>

  <kendo-formfield>
    <kendo-floatinglabel text="Gender">
      <kendo-dropdownlist [data]="this.genderList" formControlName="sex"></kendo-dropdownlist>
    </kendo-floatinglabel>
    <kendo-formerror>Error: Patient's gender is required.</kendo-formerror>
  </kendo-formfield>

  <kendo-formfield>
    <kendo-floatinglabel text="Creatinine level">
      <kendo-numerictextbox formControlName="creatinine"></kendo-numerictextbox>
    </kendo-floatinglabel>
    <kendo-formerror>Error: Creatinine level is required.</kendo-formerror>
  </kendo-formfield>

  <kendo-formfield>
    <kendo-floatinglabel text="LYVE1 amount">
      <kendo-numerictextbox formControlName="lyve1"></kendo-numerictextbox>
    </kendo-floatinglabel>
    <kendo-formerror>Error: LYVE1 amount is required.</kendo-formerror>
  </kendo-formfield>


  <kendo-formfield>
    <kendo-floatinglabel text="REG1B amount">
      <kendo-numerictextbox formControlName="reg1b"></kendo-numerictextbox>
    </kendo-floatinglabel>
    <kendo-formerror>Error: REG1B amount is required.</kendo-formerror>
  </kendo-formfield>

  <kendo-formfield>
    <kendo-floatinglabel text="TFF1 amount">
      <kendo-numerictextbox formControlName="tff1"></kendo-numerictextbox>
    </kendo-floatinglabel>
    <kendo-formerror>Error: TFF1 amount is required.</kendo-formerror>
  </kendo-formfield>

  <kendo-formfield>
    <kendo-floatinglabel text="REG1A amount">
      <kendo-numerictextbox formControlName="reg1a"></kendo-numerictextbox>
    </kendo-floatinglabel>
    <kendo-formerror>Error: REG1A amount is required.</kendo-formerror>
  </kendo-formfield>

</form>

<a routerLink="/result">
  <button kendoButton (click)="sendAnalysisRequest()">
    Analyze
  </button>
</a>

