<div id="mainContainer">
  <div id="formContainer">
    <form [formGroup]="sampleForm">
      <kendo-formfield>
        <kendo-floatinglabel text="{{'DATA.SAMPLEDATA.AGE' | translate}}">
          <kendo-numerictextbox formControlName="age" [format]="format" [min]="minValue"></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-floatinglabel text="{{'DATA.SAMPLEDATA.SEX' | translate}}">
          <kendo-dropdownlist [data]="this.genderList" textField="displayName" valueField="exportName" formControlName="sex">
          </kendo-dropdownlist>
        </kendo-floatinglabel>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-floatinglabel text="{{'DATA.SAMPLEDATA.CREATININE_LEVEL' | translate}}">
          <kendo-numerictextbox formControlName="creatinine"></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-floatinglabel text="{{'DATA.SAMPLEDATA.LYVE1_AMOUNT' | translate}}">
          <kendo-numerictextbox formControlName="lyve1"></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-floatinglabel text="{{'DATA.SAMPLEDATA.REG1B_AMOUNT' | translate}}">
          <kendo-numerictextbox formControlName="reg1b"></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-floatinglabel text="{{'DATA.SAMPLEDATA.TFF1_AMOUNT' | translate}}">
          <kendo-numerictextbox formControlName="tff1"></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-floatinglabel text="{{'DATA.SAMPLEDATA.REG1A_AMOUNT' | translate}}">
          <kendo-numerictextbox formControlName="reg1a"></kendo-numerictextbox>
        </kendo-floatinglabel>
      </kendo-formfield>
    </form>

    <button kendoButton (click)="sendAnalysisRequest()">
      {{'TABS.NEW_SAMPLE.ANALYZE' | translate}}
    </button>
  </div>

  <div id="resultContainer">
    <app-result [diagnosis]="this.diagnosis" [precision]="this.precision"></app-result>
  </div>
</div>
