:host{
  width: 100%;
  height: 100%;
  margin:15px
}

kendo-label, kendoArcGaugeCenterTemplate, kendo-arcgauge{
  font-size:x-large;
  margin:auto;
}

kendo-arcgauge{
  padding-top:25px;
  width:100%;
  height:100%;
}

#results{
  width:100%;
  height:90%;
  display: flex;
  flex-direction: column;
}
